



<form action="save_data" method="get">


    enter your name:- <input type="text" name="user_name"><br><br>
    enter your email:- <input type="email" name="email_name"><br><br>
    enter your mobile:- <input type="number" name="number_name"><br><br>

    <button>Save</button>

</form>



